$bg-color: #ccf5ed;
$main-color: #019a85;
$desktop-site-width: 1000px;
$side-padding: 12px;
$both-sides-padding: calc(2 * $side-padding);
$desktop-whole-site-width: calc($desktop-site-width + $both-sides-padding);

html,body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $bg-color;
    color: $main-color;
}

$main-nav-height: 50px;

#container {
    max-width: $desktop-site-width;
    margin: 0 auto; //center
    padding-top: $main-nav-height;
    padding-right: $side-padding;
    padding-left: $side-padding;
}

#main-nav {
    position: fixed;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li a {
        text-decoration: none;
        display: block;

        &:hover, &:focus {
            background-color: #999;
        }
    }

    @media (min-width: 601px) { // large screen
        margin: 0 auto; right: 0; left: 0; //center
        top: 0;
        height: $main-nav-height;
        width: $desktop-site-width;
        max-width: 100%;
        text-align: center;
        background-color: $bg-color;

        ul {
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }

        li {
            flex-grow: 1;
            a {
                line-height: $main-nav-height;
            }
        }

        #open-nav-btn, #close-nav-btn {
            display: none;
        }
    }
    @media (max-width: 600px) { // small screen

    }
}

h1 {
    text-align: center;
}

#intro {
    position: relative;
    overflow: hidden;
    // aspect-ratio: 1000 / 555;
    --width: calc(min(#{$desktop-whole-site-width}, 100vw) - #{$both-sides-padding});
    height: calc(var(--width) * 0.555);
    //padding: 0 $side-padding;
    
    & > img {
        width: 100%;
        position: absolute;
        bottom: 0; left: 0; right: 0;
        z-index: 1;
        -webkit-mask-image: linear-gradient(to right, transparent 3%, black 20% 40%, transparent, transparent 80% 100%);
        mask-image: linear-gradient(to right, transparent 3%, black 20% 40%, transparent, transparent 80% 100%);
    }
    
    h1, h2, p {
        position: relative;
        z-index: 2;
        text-shadow: 0px 0px 7px $bg-color;
        padding-left: 50%;
    }

    h1 { font-size: 2.8vw;}
    h2 { font-size: 2vw;}
    p { font-size: 110%;}
}
// https://dribbble.com/tags/hero-section
// https://dribbble.com/shots/24173570-Alpine-Sport-Mobile-App-Landing-Page